# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.generated/
generated_plugin_registrant.dart

# Platform-specific builds
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
android/app/debug/
android/app/profile/
android/app/release/
windows/runner/Debug/
windows/runner/Release/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/

# IDEs / Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
*.swp
*.lock

# Firebase
.firebase/
firebase-debug.log*
firebase-debug.*.log*
.dataconnect

# Logs
logs
*.log

# Environment
.env
.firebaserc   # optional — keep if shared Firebase project
